<div class="container">
  <div class="row">
    <div class="col">
      <h3>Fossils:</h3>
    </div>
  </div>
  <ul class="matchingFossils">
    <li *ngFor="let fossil of fossilsMatchingFilters()" class="row">
      <button class="col-1" (click)="triggerAddFossil(fossil)">+</button>
      <div class="col-3">{{fossil.name}}</div>
      <div class="col-auto">{{fossil.oneLineDescription}}</div>
    </li>
  </ul>

  <div class="row">
    <div class="col">
      <span class="h3 mr-3">Tags:</span>
      <button (click)="resetTagFilters()">Reset</button>
    </div>
  </div>
  <div class="card-columns">
    <div *ngFor="let tag of tags" class="card no-gutters fossil-filter-card">
      <div class="card-body align-middle fossil-filter-body">
        <span>
          {{tag | titlecase}}
        </span>
        <span class="ml-auto float-right btn-group btn-group-toggle" ngbRadioGroup
             name="{{tag}}" [(ngModel)]="tagFiltersByName[tag]">
          <label ngbButtonLabel class="btn btn-secondary">
            <input ngbButton type="radio" value="include"
            >+
          </label>
          <label ngbButtonLabel class="btn btn-secondary active">
            <input ngbButton type="radio" value="neutral"
            >.
          </label>
          <label ngbButtonLabel class="btn btn-secondary">
            <input ngbButton type="radio" value="exclude"
            >-
          </label>
        </span>
      </div>
    </div>
  </div>
</div>
