<div class="container">

  <div class="row mb-4">
    <div class="col-1">
      <label for="base">Base:</label>
    </div>
    <div class="col-auto">
      <select name="base" id="base" [(ngModel)]="currentBase">
        <option value=""></option>
        <option [value]="base" *ngFor="let base of allBaseNames()">
          {{base}}
        </option>
      </select>
    </div>
    <div class="col-2">
      <label for="level">Min. Level</label>
    </div>
    <div class="col-auto">
      <input name="level" id="level" type="number" min="1" max="100" [(ngModel)]="minLevel">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <h5 class="card-header bg-success">
          Likely ({{likelyModText().size}})
        </h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngIf="addSomeFossils()">No results yet, go add some fossils!</li>
          <li class="list-group-item" *ngFor="let mod of likelyModText()">
            {{mod}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-warning">
          <span class="h5">
            Less likely ({{stillPossibleModText().size}})
          </span>
          <span>*but still possible!</span>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngIf="pickABase(); else somePossible">
            Choose a base to see all its possible mods.
          </li>
          <ng-template #somePossible>
            <li class="list-group-item" *ngFor="let mod of stillPossibleModText()">
              {{mod}}
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <h5 class="card-header bg-danger">
          Forbidden ({{forbiddenModText().size}})
        </h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngIf="allIsPermitted()">Everything is permitted.</li>
          <li class="list-group-item" *ngFor="let mod of forbiddenModText()">
            {{mod}}
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
